dot/config/dot_config.yml
dot/dbt/dbt_project.yml
dot/dbt/models/
dot/dbt/tests/
dot/generated_files/
dot/great_expectations/batch_config.json
dot/great_expectations/great_expectations.yml

dot/self_tests/data/base_self_test/dot_config.yml
dot/self_tests/output/

.idea*
__pycache__
